# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Ide related stuff
.idea/

# badgerDB
badgerDB/

# Compilation output
server

# Terraform output
terraform/.terraform*
terraform/*.zip
terraform/terraform.tfstate*
tfdestroy
tfplan

# LaTeX related files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.synctex.gz

# RDS username and password
terraform/db_credentials.tfvars
